
p, div, h1, input, textarea {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

@font-face {
  font-family: 'Helvetica Neue Rounded Bold';
  src: url('../font/Helvetica-Neue-Rounded-Bold.ttf');
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../font/Helvetica-Neue-Bold.ttf');
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../font/Helvetica-Neue-Regular.otf');
}

body { zoom: .79; -moz-transform: scale(.79); -moz-transform-origin: 0 0}

#cover-letter {
	position: relative;
	text-align: right;
	width: 595px;
	height: 842px;
	margin: 0 auto;
	border: solid;
	border-width: 1px;
}

#document-details {
	margin: 120px 0 0 55px;
	width: 345px;
	height: 620px;
}

h1 {
	font-size: 36px;
	font-family: 'Helvetica Neue Rounded Bold';
}

h2 {
	margin: 20px 0;
	font-size: 18px;
	font-family: Helvetica;
	font-weight: 300;
}

h3 {
	margin: 0 0 0 0;
	font-size: 18px;
	font-family: Helvetica;
}

#author-details {
	margin: 0 0 20px 0;
}

h4 {
	margin: 0 0 0 0;
	font-size: 14px;
	font-family: Helvetica;
	font-weight: 500;
}

p {
	margin: 0 0 0 35px;
	padding: 0 10px;
	width: 355px;
	font-size: 9.5px;
	font-family: Helvetica;
	border-right: solid;
	border-width: 4px;
	line-height: 110%;
}

#footer {
	position: relative;
}

#pcm-logo {
	height: 55px;
	position: absolute;
	right: 45px;
	top: 0;
}

#preview-close-button {
	position: absolute;
	top: 0;
	right: 0;
	cursor: hand;
	cursor: pointer;
}

#users-logo {
	height: 70px;
	margin: 12px -15px 0 0;
	float: right;
}