#sliderContainer { width: 960px; height: 579px; position: relative; margin: -34px auto;}



.slideContent {  background:url("../../images/slides-nav-back.jpg") repeat scroll 0 0 transparent; position: absolute; bottom:0px; right:0px; width: 960px; top: 450px; height:110px; }



.slide p { font-size: 14px; color: #000; margin-left: 20px;}



.slide {margin-top: 0px;}



.jFlowSlideContainer { overflow: hidden; }



.jFlowSlideContainer a { color: #F90; text-decoration: none; font-style: italic; }



.jFlowSlideContainer a:hover { text-decoration: none; }



.jFlowSlideContainer a:focus { position: relative; top: 1px; }



.jFlowNext { background:url("../images/arrows.png") no-repeat scroll 0 -80px transparent; height:38px; position:absolute; top:560px; right: -4px; width:38px; cursor:pointer; z-index: 1000;}



.jFlowPrev { background:url("../images/arrows.png") no-repeat scroll -97px -80px transparent; height:38px; position:absolute; top: 560px; right: 41px; width:38px; cursor:pointer; }



.jFlowPrev:hover { background-position: -97px -281px; }



.jFlowNext:hover { background-position: 0px -281px; }





/* controller pagination */



#myController {position: absolute; top: 569px; right: 90px; z-index:-1000;}



.jFlowControl { background:url("../images/bullet.png") no-repeat scroll 0px 0px transparent;  float: left; width: 15px; height: 15px;}



.jFlowControl:hover { background-position: -32px 0px; cursor: pointer; }



.jFlowSelected, .jFlowSelected:hover {background-position: -15px 0px;   }