@font-face {
    font-family: 'dincregular';
    src: url('../fonts/dinc-webfont.eot');
    src: url('../fonts/dinc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinc-webfont.woff') format('woff'),
         url('../fonts/dinc-webfont.ttf') format('truetype'),
         url('../fonts/dinc-webfont.svg#dincregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

section, article, aside, header, footer, nav, hgroup, figure, figcaption,{
	display: block;
}

body{
	overflow-y: scroll;
}

p {
	font-family: 'dincregular';
	font-size: 22px;
}

a{
	outline: none;
}

.active{
	color: #c1c1c1;
}

header {
	background-image: url(../../images/nav-bar.jpg);
	height: 38px;
	width: 960;
}

header nav{
	position: relative;
	z-index: 3;
	top: 5px;
}

header nav li{
	display: inline;	
	margin-right: 19px;
	font-weight: bold;
}
#nav-image-hover:hover{
	/*opacity: 0.5;*/
}

#dot-margin {
    top:5px;	
}

.nav-home {
	position:absolute;
	left:11px;
}

.nav-experience {
	position:absolute;
	left:106px;
}

.nav-learn {
	position:absolute;
	left:404px;
}

.nav-teach {
	position:absolute;
	left:404px;
}

.nav-library {
	position:absolute;
	left:270px;
}

.nav-shop {
	position:absolute;
	left:615px;
}

.nav-contact {
	position:absolute;
	left:705px;
}

.nav-dot-orange {
	position:absolute;
	left:785px;
}

.nav-dot-brown {
	position:absolute;
	left:813px;
}

.nav-dot-purple {
	position:absolute;
	left:841px;
}

.nav-dot-red {
	position:absolute;
	left:869px;
}

.nav-dot-yellow {
	position:absolute;
	left:897px;
}

.nav-dot-blue {
	position:absolute;
	left:925px;
}

nav ul{
	padding-left: 11px;
}

nav a{
	text-decoration: none;
	color: #000000;
	padding: 0px;
}

nav a:hover{
	text-decoration: underline;
	color: #000000;
}

nav a:active{
	text-decoration: underline;
	color: #000000;
}

#page-container{
	width: 960px;
	height: 600px;
	margin: 0px auto;
	position: relative;
}

/*------------------------Page Content---------------------*/

.content {
	width: 960px;
	height: auto;
}

#shelves-image {
	margin-top: 20px;	
}

#what-is-pcm-link {
	position: absolute;
	top: 214px;
	left: 85px;
	width: 92px;
	height: 290px;
}

#research-and-publication-link {
	position: absolute;
	top: 214px;
	left: 334px;
	width: 92px;
	height: 290px;	
}

#testimonials-link {
	position: absolute;
	top: 215px;
	left: 837px;
	width: 92px;
	height: 290px;
}

#how-to-acquire-pcm-skills-link {
	position: absolute;
	top: 216px;
	left: 585px;
	width: 92px;
	height: 290px;
}

.catalog-link {
	background:#000;
	width:165px;
	height:111px;
	position:absolute;
	top:292px;
	left:415px;	
	opacity:0;
}

.harddrive {
    position:absolute;
	top:387px;
	left:419px;
}

.screensaver {
    position:absolute;
	top:300px;
	left:426px;
}

.catalogue-text {
    position:absolute;
	top:313px;
	left:418px;
}

.submit-text {	
    position:absolute;
    top: 596px;
	left:724px;
	font-family: 'dincregular';
	color: #000000;
}

.here-button {	
    position:absolute;
    top: 593px;
	left:882px;
}

#preload { height: 0; overflow: hidden; }







